<form (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" [(ngModel)]="email" required>

  <label for="password">Senha:</label>
  <input type="password" id="password" name="password" [(ngModel)]="password" required>

  <div class="botao">
    <button type="submit">Cadastrar</button>
  </div>
</form>

<div *ngIf="registerError" class="error-message">
  Falha ao cadastrar usuário.
</div>
<div *ngIf="registerSuccess" class="success-message">
  Cadastro realizado com sucesso!
</div>
