<div class="container" >
    <div class="sala-canais">
        <div class="texto">
            <h5  >
                <div class="d-flex align-items-center">
                  <hr class="linha-horizontal">
                  <p class="titulo-noticias">Vantagens</p>
                </div>
            </h5>
            <h3 >Saiba as <span>Vantagens</span> da plataforma</h3>
        </div>
        
        <div class="canais">
            <div class="canais-cards">
        
                <div class="canal" >
                    <!-- <img src="" alt="ícone canal de comunicação"> -->
                    <h3>Variedade de Especializações</h3>
                    <p>Encontre profissionais locais rapidamente.</p>
                </div>
        
                <div class="canal" >
                    <!-- <img src="" alt="ícone canal de comunicação"> -->
                    <h3>Acesso Rápido e Conveniente</h3>
                    <p>Escolha entre várias especializações locais.</p>
                </div>
        
                <div class="canal" >
                    <!-- <img src="" alt="ícone canal de comunicação"> -->
                    <h3>Profissionais Qualificados</h3>
                    <p>Serviços garantidos por profissionais qualificados.</p>
                </div>
        
                <div class="canal" >
                    <!-- <img src="" alt="ícone canal de comunicação"> -->
                    <h3>Suporte à Comunidade Local</h3>
                    <p>Apoie os negócios locais e a economia da sua região</p>
                </div>
            </div>
        </div>
    </div>
</div>