.linha-horizontal {
  border-top: 5px solid var(--azul-claro);
  width: 50px;
  display: inline-block;
  margin-right: 10px;
  opacity: 1;
}
span {
  color: var(--laranja);
}
.titulo-noticias {
  display: inline-block;
  color: var(--laranja);
 font-family: "Montserrat";
  margin-top: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
  
  h3 {
    color: var(--azul-escuro);
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
  }

  .texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center!important;
    margin-bottom: 70px;
  }

    .bubbles{
        color: white!important;
        padding: 20px;
        background-color: var(--azul-claro);
        border-radius: 8px;
        margin-bottom: 60px;

    }

    .chat-bubble{
      color: white!important
    }