<div class="texto">
    <h5  >
        <div class="d-flex align-items-center">
          <hr class="linha-horizontal">
          <p class="titulo-noticias">Interação</p>
        </div>
    </h5>
        <h3 >Faça a <span>Interação</span> com o seu <span>Prestador</span> </h3>
</div>


<div class="bubbles">
    <div class="chat chat-start">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS chat bubble component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
        <div class="chat-header">
         Cliente
          <time class="text-xs opacity-50">12:45</time>
        </div>
        <div class="chat-bubble">Boa tarde, preciso de ajuda, o meu quadro queimou</div>
        <div class="chat-footer opacity-50">
          Entregue
        </div>
      </div>
      <div class="chat chat-end">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS chat bubble component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
        <div class="chat-header">
         Prestador
          <time class="text-xs opacity-50">12:46</time>
        </div>
        <div class="chat-bubble">Estou a caminho</div>
        <div class="chat-footer opacity-50">
          Vista às 12:46
        </div>
      </div>
</div>