<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary lg:flex" style="background-color: #0e314d;">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/imagem-login.jpg" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">"Conectando Comunidades com Eficiência"</h1>
      <p class="text-xs font-light">
        A plataforma  <span class="cursor-pointer font-medium text-yellow-400">SwetesaNet</span> foi desenvolvida para facilitar a conexão entre os moradores e os prestadores de serviços
        do  <span class="cursor-pointer font-medium text-yellow-400">Bairro Popular</span>. Nossa missão é tornar os serviços acessíveis a todos, promovendo a economia local e
        fortalecendo a comunidade.
       Descubra como podemos ajudar você a encontrar
        profissionais de confiança para atender às suas necessidades diárias. Juntos, podemos construir um bairro mais
        unido e colaborativo.
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded bg-primary p-2">
          <!-- <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon> -->
        </a>
        <b class="text-3xl pl-3 font-bold text-foreground"> SwetesaNet </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
