<div class="mx-auto px-4 py-4 sm:px-8 lg:container">

  <div class="mx-auto px-4 py-4 sm:px-8 lg:container" style="background-color: #e4e4e4; position: relative;">
    <app-banner-home></app-banner-home>
  </div>
  
  <div class="mx-auto px-4 py-4 sm:px-8 lg:container" style="background-color: #e4e4e4;">
    <app-vantagens></app-vantagens>
  </div>
  <div class="mx-auto px-4 py-4 sm:px-8 lg:container" style="background-color: #e4e4e4; margin-bottom: 20px;" >
   <app-chat-bubbles></app-chat-bubbles>
  </div>
  <!-- <div class="mx-auto px-4 py-4 sm:px-8 lg:container">
   <app-feedback></app-feedback>
  </div> -->


  <app-feedback></app-feedback>
</div>
