<div class="mx-auto px-4 py-4 sm:px-8 lg:container">

  <div class="mx-auto px-4 py-4 sm:px-8 lg:container" style="background-color: #e4e4e4; position: relative;">
    <!--Componente do banner-->
    <app-banner-home></app-banner-home>
  </div>
  
  <div class="mx-auto px-4 py-4 sm:px-8 lg:container" style="background-color: #e4e4e4;">
    <!--Componente de vantagens-->
    <app-vantagens></app-vantagens>
  </div>
  <div class="mx-auto px-4 py-4 sm:px-8 lg:container" style="background-color: #e4e4e4; margin-bottom: 20px;" >
    <!--Componente de simulação de chat-->
   <app-chat-bubbles></app-chat-bubbles>
  </div>

  <!--Compoenente de apresentação de serviços-->

  <app-feedback></app-feedback>
</div>
