

<section class="container mx-auto">
  <div class="relative " style="background-color: var(--azul-escuro);">
    <div class="h-56 sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
      <img class="w-full h-full object-cover" src="assets/images/electricista.jpg" alt="">
    </div>
    <div class="relative max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
      <div class="md:ml-auto md:w-1/2 md:pl-10 text-white">
        <div class="pb-8">
          <img class="" src="https://placekitten.com/100" alt="">
        </div>
        <h2 class="font-semibold">
          Encontre Profissionais Qualificados
        </h2>
        <p class="mt-2 text-white text-3xl font-extrabold sm:text-4xl">
          Conectando Moradores a Prestadores de Serviços do Bairro Popular
        </p>
        <p class="mt-3 text-lg">
          Descubra uma maneira fácil e conveniente de acessar uma variedade de serviços essenciais em seu bairro. Do conserto elétrico à distribuição de água, o Swetesa conecta moradores com prestadores de serviços independentes confiáveis, proporcionando soluções rápidas e eficazes para suas necessidades domiciliares. Não deixe os problemas do lar atrapalharem sua rotina - descubra como o Swetesa pode simplificar sua vida hoje mesmo.        </p>
        <!-- <div class="mt-8">
          <div class="inline-flex">
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md bg-white text-black">
           Saiba Mais
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>